<!DOCTYPE html>
<html>
<body>

<form action="/add" method="get" target="_blank">
  id: <input type="text" name="id"><br>
  name: <input type="text" name="name"><br>
  link: <input type="text" name="link"><br>
  logo: <input type="text" name="logo"><br>
  class: <input type="text" name="class"><br>
  subject: <input type="text" name="subject"><br>
  star: <input type="text" name="star"><br>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button, and the input will be sent to a page on the server called "/add".</p>

</body>
</html>